Flask
Flask-Session
python-dotenv
Flask-SQLAlchemy
psycopg2-binary
requests
redis
pytz
passporteye
pytesseract
opencv-python-headless
Pillow
PyMuPDF
pdf417gen
playwright
reportlab
gspread
gunicorn
gevent
openpyxl
